*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/*
body{background-color: rgb(53, 23, 221);}
@media screen and (max-width: 1200px)
{
body{background-color: rgb(221, 23, 145);}
}
@media screen and (max-width: 900px)    
{
body{background-color: rgb(30, 199, 86);}
}
@media screen and (max-width: 600px) 
{
body{background-color: rgb(207, 20, 20);} 
}
@media screen and (max-width: 300px)  
{
body{background-color: rgb(212, 194, 26);}    
}  */

.AA h1{
    text-align: center;
    color: rgb(6, 2, 29);
}

.a1{
  margin-left: 50px;
  margin-top: 40px;
}
.a1 img {
    border: 5px solid #555;
}

.b2{
    margin-left: 700px;
    margin-top:-700px;
}
.b2 img {
    border: 5px solid #555;
}

.c3{
    margin-left: 50px;
    margin-top: 40px;
}
.c3 img {
    border: 5px solid #555;
}

.d4{
    margin-left: 700px;
    margin-top:-700px;
}
.d4 img {
    border: 5px solid #555;
}